<section>

                
                    <input class="form-control" placeholder="username" name="email" type="text" data-bind="value: $root.userName">

                    <input class="form-control" placeholder="Password" name="password" type="password" data-bind="textInput: $root.password, event: { keydown: enterLogin }">
                    <input class="button buttonDefault" type="button" data-bind="click: loginTry" value="Login">
                


        <div class="wrapper" data-bind="router: { transition: 'entrance', cacheViews: false }"></div>
    <div class="Overlay">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</section>