    <nav class="navbar navbar-default navbar-fixed-top">
        <a class="brand" href="/">W<span>++</span></a>
        <div class="mainMenuHolder">
            <!-- ko foreach: router.navigationModel-->
            <a class="menuLink" data-bind="css: { active: isActive }, attr: { href: hash }" href="#"><span class="icon icon-home" data-bind=" visible: moduleId=='viewmodels/home'"></span>
                <span class="fa fa-square-o" data-bind="visible: moduleId != 'viewmodels/home' && !$root.loadedTerminologyUpis()"></span>
                <span class="fa fa-square" data-bind="visible: moduleId != 'viewmodels/home' && $root.loadedTerminologyUpis()"></span>
                <span data-bind="    text: title"></span></a>
            <!-- /ko -->
        </div>
        <div class="navbar-form pull-right">
            <span class="whitePage" onclick="document.getElementById('pagestyle').setAttribute('href', 'Content/white.css');"></span>
            <span class="blackPage" onclick="document.getElementById('pagestyle').setAttribute('href', 'Content/black.css');"></span>
            <div data-bind="visible: $root.rIsAuth()">
                <span data-bind="text:rUserName, click:$root.testUserName"></span>
                <a class="button buttonAlert" role="button" href="#" data-bind="click: logout">
                    <span class="glyphicon glyphicon-off"></span>
                    Logout
                </a>
            </div>
            <!-- ko if: !$root.rIsAuth()-->
            <form class="navbar-form pull-right">
                <input class="form-control" placeholder="username" name="email" type="text" data-bind="value: $root.userName">
                <!--<input class="form-control" placeholder="Password" name="password" type="password" data-bind="value: $root.password, valueUpdate: 'afterkeydown', event: { keydown: enterLogin }">-->
                <input class="form-control" placeholder="Password" name="password" type="password" data-bind="textInput: $root.password, event: { keydown: enterLogin }">
                <input class="button buttonDefault" type="button" data-bind="click: loginTry" value="Login">
            </form>
            <!-- /ko -->
        </div>
    </nav>

    <div class="wrapper" data-bind="router: { transition: 'entrance', cacheViews: false }"></div>
<div class="Overlay">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>