<div class="page-splash"></div>
<div class="page-splash-message">
    M++
</div>

<div class="progress progress-striped active">
    <div class="progress-bar" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
    </div>
</div>
